Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Bootstrap
bcrypt
pandas
openpyxl
python-dotenv
email-validator
mysql-connector-python
WTForms
Werkzeug
python-dotenv
pymupdf
pdf2image
Pillow
streamlit
requests
